<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Login_Validation</display-name>
    <servlet-name>Login_Validation</servlet-name>
    <servlet-class>Login_Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Validation</servlet-name>
    <url-pattern>/Login_Validation</url-pattern>
  </servlet-mapping>
  <display-name>Bank_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>B</display-name>
    <servlet-name>B</servlet-name>
    <servlet-class>B</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>B</servlet-name>
    <url-pattern>/B</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_Bank</display-name>
    <servlet-name>Login_Bank</servlet-name>
    <servlet-class>Login_Bank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Bank</servlet-name>
    <url-pattern>/Login_Bank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Interest</display-name>
    <servlet-name>Interest</servlet-name>
    <servlet-class>Interest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Interest</servlet-name>
    <url-pattern>/Interest</url-pattern>
  </servlet-mapping>
</web-app>